<ion-header>
  <ion-toolbar>
    <ion-title>Game Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li>
      <h3><b>Username:</b></h3>
      <h1>{{username}}</h1>
    </li>
    <li>
      <h3><b>Points:</b></h3>
      <h1>{{points}}</h1>
    </li>
    <li>
      <h3><b>Pet Type:</b></h3>
      <h1>{{petType}} Booster</h1>
    </li>
    <li>
      <h3><b>Level:</b></h3>
      <h1>{{level}}</h1>
    </li>
    <li class="health">
      <h3><b>Health:</b></h3>
      <h1>{{health}}</h1>
    </li>
    <li class="power">
      <h3><b>Power:</b></h3>
      <h1>{{power}}</h1>
    </li>
    <li class="magic">
      <h3><b>Magic:</b></h3>
      <h1>{{magic}}</h1>
    </li>
    <li class="productivity">
      <h3><b>Productivity:</b></h3>
      <h1>{{productivity}}</h1>
    </li>
  </ul>
  

  

  

  
      
  

  

  

  
        
</ion-content>
