img {
    position: relative;
    top: 8px;
    display: inline-block;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    border-width: 1px;
    border-style: solid;
}

h1 {
    position: relative;
    top: -20px;
    margin-left: 10px;
    display: inline-block;
}

.friendHolder {
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
}

