.mainEvent {
    margin-bottom: 0;
  }
  
  .allEvents {
    margin-bottom: 10px;
  }
  
  .event {
    margin-bottom: 10px;
  }
  
  .upvotesSection {
    margin-top: 0;
  }
  
  .join {
    float:right;
    position: relative;
    display: inline-block;
    top:-9px;
  
  }
  
  .numPeople {
    position: relative;
    display: inline-block;
    
  }
