<ion-header>
  <ion-toolbar>
    <ion-title>
      Vote on Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="allEvents">
    <div class="event" *ngFor="let event of events">
      <ion-card class="mainEvent">
        <img src="{{event.picture}}"/>
        <ion-card-header>
          <div class="NameAndOrganizer">
            <ion-card-title>{{event.name}}</ion-card-title>
            <ion-card-subtitle>Organized by {{event.organizer}}</ion-card-subtitle>
          </div>
          <p>{{event.description}}</p>
        </ion-card-header>
      </ion-card>
      <ion-card class="upvotesSection">
        <ion-card-header>
          <ion-card-title class="numUpvotes">Upvotes: {{event.upvotes}}</ion-card-title>
          <ion-button id="{{event.index}}" class="upvote" color="secondary" (click)="upvote($event)">
            Upvote
            <ion-icon name="arrow-round-up"></ion-icon>
          </ion-button>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
    
  
  <ion-tab-button class="tab2">
    <ion-icon name="contact"></ion-icon>
    <ion-label>Profile</ion-label>
  </ion-tab-button>

  <ion-tab-button class="tab1">
    <ion-icon name="arrow-round-up"></ion-icon>
    <ion-label>Vote On/Create Events</ion-label>
  </ion-tab-button>

  <ion-tab-button class="tab3">
    <ion-icon name="megaphone"></ion-icon>
    <ion-label>Join Events</ion-label>
  </ion-tab-button>

  <div class="createEvent">
    <ion-button expand="full" size="large" (click)="createEvent()">Create Event</ion-button>
  </div>
</ion-content>
