.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.mainEvent {
  margin-bottom: 0;
}

.allEvents {
  margin-bottom: 120px;
}

.event {
  margin-bottom: 10px;
}

.upvotesSection {
  margin-top: 0;
}

.upvote {
  float:right;
  position: relative;
  display: inline-block;
  top:-9px;

}

.numUpvotes {
  position: relative;
  display: inline-block;
  
}

.createEvent {
  position: fixed;
  top: 616px;
  margin:0;
  padding:0;
  width: 100%;
  
}

.tab2 {
  position: fixed;
  top: 675px;
  left: 0%;
  height: 60px;
  width: 33%;
}

.tab1 {
  position: fixed;
  top: 675px;
  left: 33%;
  height: 60px;
  width: 33%;
}

.tab3 {
  position: fixed;
  top: 675px;
  left: 66%;
  height: 60px;
  width: 33%;
  background-color: white;
}