<ion-header>
  <ion-toolbar>
    <ion-title>Event Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="event" *ngFor="let event of allEvents">
    <ion-card class="mainEvent">
      <img src="{{event.picture}}"/>
      <ion-card-header>
        <div class="NameAndOrganizer">
          <ion-card-title>{{event.name}}</ion-card-title>
          <ion-card-subtitle>Organized by {{event.organizer}}</ion-card-subtitle>
        </div>
        <p>{{event.description}}</p>
      </ion-card-header>
    </ion-card>
    <ion-card class="pointsGained">
      <ion-card-title class="pointsGainedText">+{{event.pointsObtained}} Points Gained</ion-card-title>
      <ion-card-subtitle>{{event.day}} {{event.month}} {{event.year}}</ion-card-subtitle>
    </ion-card>
  </div>
  
</ion-content>
